<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todo Helper</title>
</head>
<body>
    <script type="text/javascript" src="jquery.js"></script>

    <script type="text/javascript" src="/scripts/signup.js"></script>
    <h3>Manage your do's - Newbies - Sign up to an easy world</h3>
    <div>
        <p>Username</p>
        <input type="textbox" id="username">
        <p>password</p>
        <input type="password" id="password">
        <p>confirm password</p>
        <p><input type="password" id="cpassword"></p>
        <button id="signup">Sign me up</button>
        <p align ="center"><a href="/">|HOME|</a></p>
    </div>
    
</body>
</html>