<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todo Helper</title>
</head>
<body>
    <h1>Manage your do's</h1>
    <div>
        <p>Username</p>
        <input type="textbox" id="Username">
        <p>password</p>
        <input type="textbox" id="Username">
        <p>confirm password</p>
        <p><input type="textbox" id="Username"></p>
        <button><a href="/signin">Sign in</a></button>
        <p align ="center"><a href="/">|HOME|</a></p>
    </div>
    
</body>
</html>