<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>Todo Helper</title>
</head>
<body>
    <script type="text/javascript" src="jquery.js"></script>

    <script type="text/javascript" src="/scripts/signin.js"></script>
    <h3>Manage your do's - For returning users - sign in</h3>

    
    <div>
        <p>Username</p><input type="textbox" id="username">
        <p>password</p>
        <p><input type="password" id="password"></p>
        <button id="signin">Sign in</button>
        <p align ="center"><a href="/" ><b>|HOME|</b></a></p>
    </div>
    
</body>
</html>