<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{name}} add</title>
</head>
<body>
    <script type="text/javascript" src="/scripts/jquery.js"></script>

    <script type="text/javascript" src="/scripts/addTodo.js"></script>

    <p>Task</p>
    <input type="textbox" id="task">
    <p>Completed</p>
    <input type="textbox" id ="cstatus">
    <p>Priority</p>
    <input type="textbox" id ="prior">
    <button id="add">Add Todo</button>
    
    
</body>
</html>