<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{name}} TODO's</title>
</head>
<body>
    <script type="text/javascript" src="/scripts/jquery.js"></script>

    <script type="text/javascript" src="/scripts/showTodo.js"></script>
    <table id="table" style="border:1px">
        <tr>
            <th>Task</th>
            <th>Completion Status</th>
            <th>Priority</th>
        </tr>
        <tr>
            <th id ="t"></th>
            <th id ="c"></th>
            <th id ="p"></th>
        </tr>

    </table>

    <button id="back">Back</button>

    
</body>
</html>